* {
  margin: 0 auto;
  background-color: #171624;
  color: rgb(240, 251, 255);
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 300;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 5rem;
  font-weight: bold
}

p {
  font-style: italic;
}

h2, h3{
  font-weight: bold;
}

/* #apod {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  margin-top: 2rem;
  gap: 1rem
}

#apod-img {
  max-width: 80%;
  max-height: 30rem;
  object-fit: contain;
} */

#form {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#searchbar {
  display: flex;
  gap: .5rem;
}

#filters {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem
}

#main-filters {
  display: flex;
  gap: 2rem
}

#year-inputs{
  display: flex;
  gap: 2rem
}

#buttons {
  display: flex;
  gap: 2rem
}

.filter {
  display: flex;
  flex-direction: column;
  gap: .25rem
}

.image-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0
}

.image > img {
object-fit: contain;
max-width: 400px;

}